@model Vidly.ViewModels.DetailCustomerViewModel
@{
    ViewBag.Title = "List of all Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Listing Customer Details</h2>
<h3>@Model.Customer.Name</h3>